 .bought {
    padding: 10px;
    text-align: center;
    border: 2px dashed #5a9679;
    background: #b6c7ac;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: line-through;
    line-height: 32px;
}

.not-bought {
    padding: 10px;
    text-align: center;
    border: 2px dashed #5a9679;
    background: #e4ebb1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}