.bought {
    padding: 10px;
    text-align: center;
    border: 2px dashed #5a9679;
    background: #b6c7ac;
}

.not-bought {
    padding: 10px;
    text-align: center;
    border: 2px dashed #5a9679;
    background: #e4ebb1;
}