.add-div {
    width: 95%;
    margin: auto;
    text-align: center;
  }

form {
    width: 80%;
    margin: auto;
    display: flex column;
    line-height: 200%;
    text-align: left;
}

.label {
    padding: 5px 0px;
}

.input {
    float: right;
    padding: 5px;
}

input {
    width: 65%;
}

.add-button {
    width: 100%;
    margin: auto;
}

.button-class {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
}